# főbb függőségek
numpy
python-dotenv

# LangChain & LangGraph - Agentic Workflow
langchain
langchain-community
langgraph

# dokumentum feldolgozás
pypdf

# RAG összetevők vektorok és embedding
sentence-transformers
chromadb

# LLM Support (Optional - for local models)
#llama-cpp-python>=0.2.0

# Jupiter notebook (Optional)
jupyter
ipykernel
